#mainNav > .container-fluid {
    background-color: #a400ff;
}

.navbar-default .navbar-header .navbar-brand {
    color: white;
}

div.content {
    width: 85%;
    height: 100%;
    padding: 60px;
    line-height: 1.5em;
}

p.date {
    font-family: 'Lato','Helvetica Neue',Arial,sans-serif;
    font-weight: 300;
    font-size: 18px;
}
